@model IEnumerable<WEB.Models.MovieModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userName = Context.Session.GetString("UserName");
}
<link href="~/css/film.css" rel="stylesheet" />


<section class="list-section">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                foreach (var phim in Model)
                {
                    @if (@userName != null)
                    {
                        <a class="movie-item col-xl-6 col-lg-6 col-md-6 col-sm-6" href="@Url.Action("Index", "Movie", new { maPhim = phim.MaPhim })">
                            <div class="movie-box">
                                <div class="movie-link">
                                    <img class="img" src="@phim.HinhDaiDien" alt="Card image" />
                                </div>
                            </div>
                            <div class="movie-content">
                                <h4 class="movie-name">@phim.TenPhim</h4>
                                <p><b>Đạo diễn:</b> @phim.DaoDien</p>
                                <p class="desc"><b>Mô tả:</b> @phim.MoTa</p>
                                <p><b>Thời lượng:</b> @phim.ThoiLuong phút</p>
                                <p class="movie-start"><b>Khởi chiếu:</b> @phim.NgayKhoiChieu.ToString("dd/MM/yyyy")</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="movie-item col-xl-6 col-lg-6 col-md-6 col-sm-6" href="@Url.Action("loginView", "login")">
                            <div class="movie-box">
                                <div class="movie-link">
                                    <img class="img" src="@phim.HinhDaiDien" alt="Card image" />
                                </div>
                            </div>
                            <div class="movie-content">
                                <h4 class="movie-name">@phim.TenPhim</h4>
                                <p><b>Đạo diễn:</b> @phim.DaoDien</p>
                                <p class="desc"><b>Mô tả:</b> @phim.MoTa</p>
                                <p><b>Thời lượng:</b> @phim.ThoiLuong phút</p>
                                <p class="movie-start"><b>Khởi chiếu:</b> @phim.NgayKhoiChieu.ToString("dd/MM/yyyy")</p>
                            </div>
                        </a>
                    }
                }
            }
            else
            {
                <p>Không có phim nào đang chiếu.</p>
            }
        </div>
    </div>
</section>
