@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WEB.Models.Admin_ViewMovie




@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/main.css" rel="stylesheet" />

<div class="app-content-header">
    <h1 class="app-content-headerText">Trang quản lý phim</h1>

    <button class="app-content-headerButton" onclick="showPhimForm(null,null,null,null,null,null,null,null,null,null,null)">Thêm phim</button>
</div>

<div class="app-content-actions">
    @using (Html.BeginForm("TimPhim", "Phim", FormMethod.Get))
    {
        <div class="search">
            <input class="search-bar" name="searchTerm" placeholder="Tìm kiếm phim..." type="text" />
            <button type="submit" class="app-content-headerButton">Tìm</button>
        </div>
    }
    <div class="app-content-actions-wrapper">
        <button class="action-button list active" title="Danh sách">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
            </svg>
        </button>
        <button class="action-button grid" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
            </svg>
        </button>
    </div>
</div>

<div class="products-area-wrapper tableView">
    <div class="products-header">

        <div class="product-cell category">
            Mã phim<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Loại phim <button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Tên phim<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Đạo diễn<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Độ tuổi yêu cầu<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Ngày khởi chiếu<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Thời lượng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Tình trạng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Hình đại diện<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Video<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell sales">
            Chỉnh sửa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell sales">
            Xóa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
    </div>

    @foreach (var phim in Model.ListMovies)
    {
        <div class="products-row">
            <div class="product-cell category"><span class="cell-label">Mã phim:</span>@phim.MaPhim</div>
            <div class="product-cell sales"><span class="cell-label">Loại phim:</span>@phim.TheLoaiPhim.TenLPhim</div>
            <div class="product-cell sales"><span class="cell-label">Tên phim:</span>@phim.TenPhim</div>
            <div class="product-cell sales"><span class="cell-label">Đạo diễn:</span>@phim.DaoDien</div>
            <div class="product-cell sales"><span class="cell-label">Độ tuổi yêu cầu:</span>@phim.DoTuoiYeuCau</div>
            <div class="product-cell sales"><span class="cell-label">Ngày khởi chiếu:</span>@phim.NgayKhoiChieu?.ToString("dd/MM/yyyy")</div>
            <div class="product-cell sales"><span class="cell-label">Thời lượng (phút):</span>@phim.ThoiLuong</div>
            <div class="product-cell sales">
                <span class="cell-label">Tình trạng:</span>
                @if (phim.TinhTrang.HasValue)
                {
                    @if (phim.TinhTrang.Value)
                    {
                        @:Đang chiếu
                    }
                    else
                    {
                        @:Không chiếu
                    }
                }
                else
                {
                    @:Chưa xác định
                }
            </div>
            <div class="product-cell sales">
                <span class="cell-label">Hình đại diện:</span>
                @if (!string.IsNullOrEmpty(phim.HinhDaiDien))
                {
                    <img src="@phim.HinhDaiDien" alt="Hình đại diện" width="50" height="50" />
                }
                else
                {
                    @:Chưa có hình
                }
            </div>
            <div class="product-cell sales"><span class="cell-label">Video:</span>@phim.Video</div>
            <div class="product-cell stock">
                <span class="cell-label">Chỉnh sửa:</span>
                <a onclick="showPhimForm('@phim.MaPhim', '@phim.MaLPhim', '@phim.TenPhim', '@phim.DaoDien', '@phim.DoTuoiYeuCau',
                                      '@phim.NgayKhoiChieu', '@phim.ThoiLuong', '@phim.TinhTrang', '@phim.HinhDaiDien',
                                      '@phim.Video', '@phim.MoTa')">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="product-cell stock">
                @using (Html.BeginForm("DeletePhim", "Admin_QLPhim", FormMethod.Post, new { onsubmit = "return confirmDelete()" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maPhim", phim.MaPhim)
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-remove"></i> Xóa
                    </button>
                }
            </div>
        </div>
    }


</div>


<div id="modal"></div>
<main id="product-form" class="modal-form">
    <div class="d-flex justify-content-center">
        <div class="container">
            <h2 class="text-uppercase" id="title-form"></h2>

            <form method="post" action="@Url.Action("LuuPhim", "Admin_QLPhim")" id="productForm" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="row form-row">
                    <!-- Cột 1 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="MaPhim" class="form-label text-dark fw-600" id="labelphim">Mã phim</label>
                            <input asp-for="MaPhim" name="MaPhim" class="form-control" placeholder="Nhập mã phim" id="maPhimChieu" />
                            <span asp-validation-for="MaPhim" class="text-danger"></span>
                        </div>
              
                        <div class="mb-3">
                            <label asp-for="MaLPhim" class="form-label text-dark fw-600">Mã loại phim</label>
                            @Html.DropDownList("MaLPhim", Model.ListTypeMovie, "-- Chọn loại phim --", new { @class = "form-control", @id = "maLoaiPhim" })

                            <span asp-validation-for="MaLPhim" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="TenPhim" class="form-label text-dark fw-600">Tên phim</label>
                            <input asp-for="TenPhim" name="TenPhim" class="form-control" placeholder="Nhập tên phim" id="tenPhim" />
                            <span asp-validation-for="TenPhim" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DaoDien" class="form-label text-dark fw-600">Đạo diễn</label>
                            <input asp-for="DaoDien" name="DaoDien" class="form-control" placeholder="Nhập tên đạo diễn" id="daoDien" />
                            <span asp-validation-for="DaoDien" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DoTuoiYeuCau" class="form-label text-dark fw-600">Độ tuổi yêu cầu</label>
                            <input asp-for="DoTuoiYeuCau" name="DoTuoiYeuCau" type="number" class="form-control" placeholder="Nhập độ tuổi yêu cầu" id="doTuoiYeuCau" />
                            <span asp-validation-for="DoTuoiYeuCau" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Cột 2 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="NgayKhoiChieu" class="form-label text-dark fw-600">Ngày khởi chiếu</label>
                            <input asp-for="NgayKhoiChieu" name="NgayKhoiChieu" type="date" class="form-control" id="ngayKhoiChieu" />
                            <span asp-validation-for="NgayKhoiChieu" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ThoiLuong" class="form-label text-dark fw-600">Thời lượng (phút)</label>
                            <input asp-for="ThoiLuong" name="ThoiLuong" type="number" class="form-control" placeholder="Nhập thời lượng phim" id="thoiLuong" />
                            <span asp-validation-for="ThoiLuong" class="text-danger"></span>
                        </div>

                        <div class="status-cus">
                            <label asp-for="TinhTrang" class="form-label text-dark fw-600">Tình trạng</label>
                            <input asp-for="TinhTrang" type="checkbox" class="form-check-input" id="tinhTrang" checked />
                            <span asp-validation-for="TinhTrang" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="HinhDaiDien" class="form-label text-dark fw-600">Hình đại diện</label>
                            <div class="mb-2">
                                <img class="img-thumbnail" style="width: 50px; height: 50px;" id="hinhUp" />
                            </div>
                            <input asp-for="hinhDaiDienFile" name="hinhDaiDienFile" type="file" class="form-control" id="hinhDaiDienFile" />
                            <input asp-for="HinhDaiDien" name="HinhDaiDien" type="hidden" class="form-control" id="hinhDaiDien" />
                            <span asp-validation-for="hinhDaiDienFile" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Video" class="form-label text-dark fw-600">Video</label>
                            <input asp-for="Video" name="Video" class="form-control" placeholder="Nhập URL video" id="video" />
                            <span asp-validation-for="Video" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="MoTa" class="form-label text-dark fw-600">Mô tả</label>
                            <textarea asp-for="MoTa" name="MoTa" class="form-control" placeholder="Nhập mô tả phim" id="moTa"></textarea>
                            <span asp-validation-for="MoTa" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-grid my-4">
                    <button type="submit" id="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>


        </div>
    </div>
</main>



<script src="~/js/phim.js"></script>