@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WEB.Models.Admin_SuatChieuModel>



@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/main.css" rel="stylesheet" />


<div class="app-content-header">
    <h1 class="app-content-headerText">Trang quản lý suất chiếu</h1>
    <button class="app-content-headerButton" onclick="showSuatChieuForm(null,null,null,null,null,null)">Thêm suất chiếu</button>
</div>

<div class="app-content-actions">
    @using (Html.BeginForm("TimPhim", "Phim", FormMethod.Get))
    {
        <div class="search">
            <input class="search-bar" name="searchTerm" placeholder="Tìm kiếm phim..." type="text" />
            <button type="submit" class="app-content-headerButton">Tìm</button>
        </div>
    }
    <div class="app-content-actions-wrapper">
        <button class="action-button list active" title="Danh sách">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
            </svg>
        </button>
        <button class="action-button grid" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
            </svg>
        </button>
    </div>
</div>

<div class="products-area-wrapper tableView">
    <div class="products-header">

        <div class="product-cell category">
            Mã suất chiếu<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Mã Phim<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Mã Phòng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Mã ca<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Ngày chiếu<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
           Tình trạng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell sales">
            Chỉnh sửa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        <div class="product-cell sales">
            Xóa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        
    </div>

    @foreach (var nv in Model)
    {
        <div class="products-row">
            <div class="product-cell category"><span class="cell-label">Mã suất chiếu:</span>@nv.MaSuat</div>
            <div class="product-cell category"><span class="cell-label">Mã phim:</span>@nv.MaPhim</div>
            <div class="product-cell category"><span class="cell-label">Mã phòng:</span>@nv.MaPhong</div>
            <div class="product-cell category"><span class="cell-label">Mã ca:</span>@nv.MaCa</div>
            <div class="product-cell category"><span class="cell-label">Ngày chiếu:</span>@nv.NgayChieu.ToString("dd/MM/yyyy")</div>
            <div class="product-cell category"><span class="cell-label">Tình trạng:</span>@nv.TinhTrang</div>
            <div class="product-cell stock">
                <span class="cell-label">Chỉnh sửa:</span>
                <a onclick="showProductForm('@nv.MaSuat', '@nv.MaPhim', '@nv.MaPhong', '@nv.MaCa', '@nv.NgayChieu','@nv.TinhTrang')">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="product-cell stock">
                @using (Html.BeginForm("DeleteSuatChieu", "Admin_QLSuatChieu", FormMethod.Post, new { onsubmit = "return confirmDelete()" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maSuatChieu", nv.MaSuat)
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-remove"></i> Xóa
                    </button>
                }
            </div>
        </div>



    }
</div>

<div id="modal"></div>
<main id="product-form" class="modal-form">
    <div class="d-flex justify-content-center">
        <div class="container">
            <h2 class="text-uppercase" id="title-form">
            </h2>

            <form method="post" action="@Url.Action("LuuSuatChieu", "Admin_QLSuatChieu")" id="productForm">
                <div class="mb-3">
                    <label asp-for="MaSuat" class="form-label text-dark fw-600">Mã suất chiếu</label>
                    <input asp-for="MaSuat" name="MaSuat" class="form-control" placeholder="Nhập mã suất chiếu" id="maSuat" />
                    <span asp-validation-for="MaSuat" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MaPhim" class="form-label text-dark fw-600">Mã phim</label>
                    <input asp-for="MaPhim" name="MaPhim" class="form-control" placeholder="Nhập mã phim" id="maPhim" />
                    <span asp-validation-for="MaPhim" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MaPhong" class="form-label text-dark fw-600">Mã phòng</label>
                    <input asp-for="MaPhong" name="MaPhong" class="form-control" placeholder="Nhập mã phòng" id="maPhong" />
                    <span asp-validation-for="MaPhong" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MaCa" class="form-label text-dark fw-600">Mã ca</label>
                    <input asp-for="MaCa" name="MaCa" type="number" class="form-control" placeholder="Nhập mã ca" id="maCa" />
                    <span asp-validation-for="MaCa" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NgayChieu" class="form-label text-dark fw-600">Ngày chiếu</label>
                    <input asp-for="NgayChieu" name="NgayChieu" class="form-control" placeholder="Nhập ngày chiếu" id="ngayChieu" />
                    <span asp-validation-for="NgayChieu" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="TinhTrang" class="form-label text-dark fw-600">Tình trạng</label>
                    <input asp-for="TinhTrang" name="TinhTrang" class="form-control" placeholder="Nhập tình trạng" id="tinhTrang" />
                    <span asp-validation-for="TinhTrang" class="text-danger"></span>
                </div>

                
                <div class="d-grid my-4">
                    <button type="submit" id="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>

        </div>
    </div>
</main>
<script src="~/js/suatchieu.js"></script>