@model IEnumerable<WEB.Models.Admin_QLKhachHangModel>



@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/main.css" rel="stylesheet" />


<div class="app-content-header">
    <h1 class="app-content-headerText">Trang quản lý khách hàng</h1>

    <button class="app-content-headerButton" onclick="showKhachHangForm(null,null,null,null,null,null,null)">Thêm khách hàng</button>
</div>

<div class="app-content-actions">
    @using (Html.BeginForm("TimPhim", "Phim", FormMethod.Get))
    {
        <div class="search">
            <input class="search-bar" name="searchTerm" placeholder="Tìm kiếm phim..." type="text" />
            <button type="submit" class="app-content-headerButton">Tìm</button>
        </div>
    }
    <div class="app-content-actions-wrapper">
        <button class="action-button list active" title="Danh sách">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
            </svg>
        </button>
        <button class="action-button grid" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
            </svg>
        </button>
    </div>
</div>

<div class="products-area-wrapper tableView">
    <div class="products-header">

        <div class="product-cell category">
            Mã khách hàng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Tên khách hàng <button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Số điện thoại<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Email<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Ngày sinh<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        

        <div class="product-cell category">
            Tình trạng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Tên tài khoản<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell category">
            Mật khẩu<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>

        <div class="product-cell sales">
            Chỉnh sửa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        <div class="product-cell sales">
            Xóa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
    </div>

    @foreach (var kh in Model)
    {
        <div class="products-row">
            <div class="product-cell category"><span class="cell-label">Mã khách hàng:</span>@kh.MaKH</div>
            <div class="product-cell sales"><span class="cell-label">Họ tên:</span>@kh.HoTen</div>
            <div class="product-cell sales"><span class="cell-label">Số điện thoại:</span>@kh.Sdt</div>
            <div class="product-cell sales"><span class="cell-label">Email:</span>@kh.Email</div>
            <div class="product-cell sales"><span class="cell-label">Ngày sinh:</span>@kh.NgaySinh?.ToString("dd/MM/yyyy")</div>
            <div class="product-cell">
                <span class="cell-label">Tình trạng:</span>
                @if (kh.TinhTrang.HasValue)
                {
                    @if (kh.TinhTrang.Value)
                    {
                        @:Hoạt động
                    }
                    else
                    {
                        @:Không hoạt động
                    }
                }
                else
                {
                    @:Chưa xác định
                }
            </div>
            <div class="product-cell"><span class="cell-label">Tên tài khoản:</span>@kh.TenTK</div>
            
            <div class="product-cell stock">
                <span class="cell-label">Chỉnh sửa:</span>
                <a onclick="showKhachHangForm('@kh.MaKH', '@kh.HoTen', '@kh.Sdt','@kh.NgaySinh', '@kh.Email',
                                          '@kh.TinhTrang', '@kh.TenTK', '@kh.MatKhau')">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="product-cell stock">
                @using (Html.BeginForm("DeleteKhachHang", "Admin_QLKhachHang", FormMethod.Post, new { onsubmit = "return confirmDelete()" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maNV", kh.MaKH)
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-remove"></i> Xóa
                    </button>
                }
            </div>
        </div>
    }

</div>


<div id="modal"></div>
<main id="product-form" class="modal-form">
    <div class="d-flex justify-content-center">
        <div class="container">
            <h2 class="text-uppercase" id="title-form"></h2>
         
            <form method="post" action="@Url.Action("LuuKhachHang", "Admin_QLKhachHang")" id="productForm">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="MaKH" class="form-label text-dark fw-600" id="labelkhachhang">Mã khách hàng</label>
                    <input asp-for="MaKH" name="MaKH" class="form-control" placeholder="Nhập mã khách hàng" id="maKH" />
                    <span asp-validation-for="MaKH" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="HoTen" class="form-label text-dark fw-600">Họ tên</label>
                    <input asp-for="HoTen" name="HoTen" class="form-control" placeholder="Nhập họ tên" id="hoTen" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Sdt" class="form-label text-dark fw-600">Số điện thoại</label>
                    <input asp-for="Sdt" name="Sdt" class="form-control" placeholder="Nhập số điện thoại" id="sdt" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label text-dark fw-600">Email</label>
                    <input asp-for="Email" name="Email" type="email" class="form-control" placeholder="Nhập email" id="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NgaySinh" class="form-label text-dark fw-600">Ngày sinh</label>
                    <input asp-for="NgaySinh" name="NgaySinh" type="date" class="form-control" id="ngaySinh" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>

                <div class="status-cus">
                    <label asp-for="TinhTrang" class="form-label text-dark fw-600">Tình trạng</label>
                    <input asp-for="TinhTrang" type="checkbox" class="form-check-input" id="tinhTrang" checked />
                    <span asp-validation-for="TinhTrang" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="TenTK" class="form-label text-dark fw-600">Tên tài khoản</label>
                    <input asp-for="TenTK" name="TenTK" class="form-control" placeholder="Nhập tên tài khoản" id="tenTK" />
                    <span asp-validation-for="TenTK" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MatKhau" class="form-label text-dark fw-600">Mật khẩu</label>
                    <input asp-for="MatKhau" name="MatKhau" type="password" class="form-control" placeholder="Nhập mật khẩu" id="matKhau" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>

                <div class="d-grid my-4">
                    <button type="submit" id="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>


        </div>
    </div>
</main>


<script src="~/js/khachhang.js"></script>
