@model IEnumerable<WEB.Models.Admin_NhanVienModel>



@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/main.css" rel="stylesheet" />


<div class="app-content-header">
    <h1 class="app-content-headerText">Trang quản lý nhân viên</h1>

    <button class="app-content-headerButton" onclick="showNhanVienForm(null,null,null,null,null,null,null,null,null,null)">Thêm nhân viên</button>
</div>

<div class="app-content-actions">
    @using (Html.BeginForm("TimPhim", "Phim", FormMethod.Get))
    {
        <div class="search">
            <input class="search-bar" name="searchTerm" placeholder="Tìm kiếm phim..." type="text" />
            <button type="submit" class="app-content-headerButton">Tìm</button>
        </div>
    }
    <div class="app-content-actions-wrapper">
        <button class="action-button list active" title="Danh sách">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
            </svg>
        </button>
        <button class="action-button grid" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
            </svg>
        </button>
    </div>
</div>

<div class="products-area-wrapper tableView">
    <div class="products-header">
        
        <div class="product-cell category">
            Mã nhân viên<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        
        <div class="product-cell category">
            Tên nhân viên<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
       
        <div class="product-cell category">
            Số điện thoại<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
       
        <div class="product-cell category">
            Giới tính<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        
        <div class="product-cell category">
            Ngày sinh<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
       
        <div class="product-cell category">
            Địa chỉ<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        
        <div class="product-cell category">
            CCCD<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        
        <div class="product-cell category">
            Tình trạng<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        
        <div class="product-cell category">
            Tên tài khoản<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
       
        
        <div class="product-cell sales">
            Chỉnh sửa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
        <div class="product-cell sales">
            Xóa<button class="sort-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
            </button>
        </div>
    </div>

    @foreach (var nv in Model)
    {
        <div class="products-row">
            <div class="product-cell category"><span class="cell-label">Mã nhân viên:</span>@nv.MaNV</div>
            <div class="product-cell sales"><span class="cell-label">Họ tên:</span>@nv.HoTen</div>
            <div class="product-cell sales"><span class="cell-label">Số điện thoại:</span>@nv.Sdt</div>
            <div class="product-cell status-cell">
                <span class="cell-label">Giới tính:</span>
                @if (nv.GioiTinh.HasValue)
                {
                    @if (nv.GioiTinh.Value)
                    {
                        @:Nam
                    }
                    else
                    {
                        @:Nữ
                    }
                }
                else
                {
                    @:Chưa xác định
                }
            </div>
            <div class="product-cell sales"><span class="cell-label">Ngày sinh:</span>@nv.NgaySinh?.ToString("dd/MM/yyyy")</div>
            <div class="product-cell"><span class="cell-label">Địa chỉ:</span>@nv.DiaChi</div>
            <div class="product-cell"><span class="cell-label">CCCD:</span>@nv.Cccd</div>
            <div class="product-cell">
                <span class="cell-label">Tình trạng:</span>
                @if (nv.TinhTrang.HasValue)
                {
                    @if (nv.TinhTrang.Value)
                    {
                        @:Đang làm
                    }
                    else
                    {
                        @:Đã Nghĩ
                    }
                }
                else
                {
                    @:Chưa xác định
                }
            </div>
            <div class="product-cell"><span class="cell-label">Tên tài khoản:</span>@nv.TenTK</div>
            <div class="product-cell stock">
                <span class="cell-label">Chỉnh sửa:</span>
                <a onclick="showNhanVienForm('@nv.MaNV', '@nv.HoTen', '@nv.Sdt', '@nv.GioiTinh','@nv.NgaySinh', '@nv.DiaChi', '@nv.Cccd',
                                            '@nv.TinhTrang', '@nv.TenTK', '@nv.MatKhau')">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="product-cell stock">
                @using (Html.BeginForm("DeleteNhanVien", "Admin_QLNhanVien", FormMethod.Post, new { onsubmit = "return confirmDelete()" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maNV", nv.MaNV)
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-remove"></i> Xóa
                    </button>
                }
            </div>


        </div>


    }
</div>


<div id="modal"></div>
<main id="product-form" class="modal-form">
    <div class="d-flex justify-content-center">
        <div class="container">
            <h2 class="text-uppercase" id="title-form">
            </h2>

            <form method="post" action="@Url.Action("LuuNhanVien", "Admin_QLNhanVien")" id="productForm">
                @Html.AntiForgeryToken()
                <div class="row form-row">
                    <!-- Cột 1 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="MaNV" class="form-label text-dark fw-600" id="labelnhanvien">Mã nhân viên</label>
                            <input asp-for="MaNV" name="MaNV" class="form-control" placeholder="Nhập mã nhân viên" id="maNhanVien" />
                            <span asp-validation-for="MaNV" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="HoTen" class="form-label text-dark fw-600">Tên nhân viên</label>
                            <input asp-for="HoTen" name="HoTen" class="form-control" placeholder="Nhập tên nhân viên" id="tenNhanVien" />
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Sdt" class="form-label text-dark fw-600">Số điện thoại</label>
                            <input asp-for="Sdt" name="Sdt" class="form-control" placeholder="Nhập số điện thoại" id="sdt" />
                            <span asp-validation-for="Sdt" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="GioiTinh" class="form-label text-dark fw-600">Giới tính</label>
                            <div>
                                <input asp-for="GioiTinh" type="radio" value="true" id="man" name="GioiTinh" /> Nam
                            </div>
                            <div>
                                <input asp-for="GioiTinh" type="radio" value="false" id="woman" name="GioiTinh" /> Nữ
                            </div>
                        </div>  

                        <div class="mb-3">
                            <label asp-for="NgaySinh" class="form-label text-dark fw-600">Ngày sinh</label>
                            <input asp-for="NgaySinh" name="NgaySinh" type="date" class="form-control" id="ngaySinh" />
                            <span asp-validation-for="NgaySinh" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Cột 2 -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="DiaChi" class="form-label text-dark fw-600">Địa chỉ</label>
                            <input asp-for="DiaChi" name="DiaChi" class="form-control" placeholder="Nhập địa chỉ" id="diaChi" />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cccd" class="form-label text-dark fw-600">Căn cước công dân</label>
                            <input asp-for="Cccd" name="Cccd" class="form-control" placeholder="Nhập căn cước công dân" id="cccd" />
                            <span asp-validation-for="Cccd" class="text-danger"></span>
                        </div>

                        
                        <div class="mb-3">
                            <label asp-for="TenTK" class="form-label text-dark fw-600">Tên tài khoản</label>
                            <input asp-for="TenTK" name="TenTK" class="form-control" placeholder="Nhập tên tài khoản" id="tenTaiKhoan" />
                            <span asp-validation-for="TenTK" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="MatKhau" class="form-label text-dark fw-600">Mật khẩu</label>
                            <input asp-for="MatKhau" name="MatKhau" type="password" class="form-control" placeholder="Nhập mật khẩu" id="matKhau" />
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>

                        <div class="status-cus">
                            <label asp-for="TinhTrang" class="form-label text-dark fw-600">Tình trạng</label>
                            <input asp-for="TinhTrang" type="checkbox" class="form-check-input" id="tinhTrang" checked />
                            <span asp-validation-for="TinhTrang" class="text-danger"></span>
                        </div>

                        <input asp-for="MaRole" name="MaRole" type="hidden" id="MaRole" value="1" />

                    </div>
                </div>

                <div class="d-grid my-4">
                    <button type="submit" id="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>



        </div>
    </div>
</main>

<script src="~/js/nhanvien.js"></script>
